aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
pytorch==1.4.0
torchvision==0.4.2
matplotlib
pandas
requests
pyyaml
fastprogress==0.1.22
pillow
python>=3.6
pip
scikit-learn
scipy
spacy
fastai2
fastprogress
